<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456302795494-g402ve59e52025nomldn2dl6segd8qh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456302795494-g402ve59e52025nomldn2dl6segd8qh9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456302795494-210scaebjla6gbkpd1v8h8fi83fonv35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8lO-P-auElS8NOaz3sU11dps59SQRYug</string>
	<key>GCM_SENDER_ID</key>
	<string>456302795494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rental</string>
	<key>PROJECT_ID</key>
	<string>rental-431e1</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-431e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456302795494:ios:07492876843202de063927</string>
</dict>
</plist>